.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;


}
.CheckoutProduct__ifo{
    padding-left: 20px;
}
.CheckoutProduct__ifo button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31;
    color: #111;
}
.CheckoutProduct__img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.CheckoutProduct__rating{
    display: flex;
}
.CheckoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}