.header__logo{
    width: 90px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 5px;
    
}
.header__logo:hover{
    border: 1px white solid;
    /* border-bottom: 2px; */
    /* padding: 1px; */
}

.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header___search{
   display: flex;
   flex: 1;
   align-items: center;
   border-radius: 24px;
}
.geader__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header__searchInput{
    height: 11px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__option{
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__optiomOne{
    font-size: 10px;
}
.header__optionBasket{
   display: flex;
   align-items: center;
   color: white;
}
.header__optionTwo{
    /* font-size: 10px; */
    font-weight: 800;
}
.header__basketCort{
margin-left: 10px;
margin-right: 10px;
}
.header__clearLink{
    text-decoration: none;
}
.header__clearlink{
    text-decoration: none;
}






